@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #7a1fa2;
  --gray: #272727;
  --black: #1d1d1d;
  --white: #faf9fa;
  --orange: #ed8e28;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--white);
  background-color: var(--gray);
}
